@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Poppins');

body {
	font-family: "Poppins", sans-serif;
}

.title {
	color: green;
	font-family: "Black Ops One", cursive;
	font-size: 72px;
	margin-top: 20px;
	text-align: center;
}

.card-header {
	background-color: green;
	color: white;
	font-size: 20px;
}

button {
	font-size: 12px;
	margin: 5px;
}